{% load i18n %}
<script>
	function cancelFriendRequest(id) {
        let controller = new AbortController()
        let signal = controller.signal

        setTimeout(() => controller.abort(), 5000)
        fetch("{% url 'friend:cancel_friend' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            credentials: "include",
            signal: signal,
            body: JSON.stringify({
                receiver_user_id: id,
            }),
        })
            .then(response => response.json())
            .then(data => {
                if(data['response'] === "{% trans 'Friend request canceled.' %}") {
				// UI gets updated
                }
                else if(data['response'] != null){
                    alert(data['response'])
                }
            })
            .catch(error => console.error("{% trans 'Error' %}", error))
            .finally(() => location.reload())
    }
</script>
