{% extends 'base.html' %}
{% block title %}Ping Pong{% endblock %}
{% load i18n %}
{% block content %}
    {% include 'css/oda.html' %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8">
                <canvas id="pong" class="border border-dark" width="800" height="400"></canvas>
            </div>
            <div class="col-md-4">
                <div id="scoreboard" class="mt-3">
                    <h4>{{ creator }} <span id="player1-score">0</span> - {{ opponent }} <span id="player2-score"> 0</span></h4>
                    {% if creator  == user %}
                        <button onclick="changeColor('paddleColor1')" class="btn btn-primary">{% trans 'Raket Rengini Değiştir' %}</button>
                    {% else %}
                        <button onclick="changeColor('paddleColor2')" class="btn btn-primary">{% trans 'Raket Rengini Değiştir' %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'js/oda.html' %}
{% endblock %}
