:root {
  --main-background-color: rgb(242, 242, 242);
  --dark-background-color: rgb(21, 23, 24);
  --secondary-text-color: rgb(128, 128, 128);
  --light-primary-text-color: rgb(0, 128, 255);
  --a-visited-color: rgb(205, 126, 31);
  --bg-color: rgb(26, 29, 30);
  --text-color: rgb(183, 183, 183);
  --a-color: rgb(27, 109, 168);
  --a-hover-color: rgb(170, 240, 240);
  --input-border-color: rgba(211, 211, 211);
  --input-placeholder-color: rgb(103, 103, 103);
  --dialog-bg-color: rgb(21, 23, 24);
  --bg-image: linear-gradient(rgb(15, 15, 15), rgb(15, 15, 15));
  --header-color: rgb(76, 255, 207);
  --bs-white: #CCCACAFF;
}

[data-bs-theme="dark"] {
  --bs-body-bg: var(--dark-background-color);
  --text-color: var(--text-color);
}

[data-bs-theme="white"] {
  --bs-body-bg: var(--bs-white);
  --text-color: var(--dialog-bg-color);
}

:not(svg) {
    transform-origin: 0 0;
}

html,body, footer {
  height:100%;
  min-height:100%;
  max-height:100%;
}

.password-container {
  position: relative;
}

.password-container input {
  flex: 1;
}

.password-container input::-ms-reveal {
  display: none;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
      --svg-fill-color: white;
      --svg-stroke-color: lightgray;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.cancel-icon::before, .accept-icon::before, #home-icon::before, #room-icon::before, #login-icon::before, #logout-icon::before {
  cursor: pointer;
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h3 {
  text-decoration-style: dashed;
  padding: 0;
  margin: 10px 0 0 10px;
}

.full-page {
  box-sizing: border-box;
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  flex: 1 1 auto;
  max-width: 400px;
  border: 1px solid #ccc;
}

.game>div {
  flex: 1 1 auto;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.scoreboard>div {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.boardcontainer {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.board {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.space {
  background-color: #6e6d6d73;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.space:hover {
  background-color: #bbb;
}

.space:active {
  background-color: #aaa;
}

@media (min-width: 992px) {
.p-10 {
  padding: 5rem; /* 80px */
}
.text-xl {
  font-size: 2.750rem; /* 30px */
  line-height: 4.50rem; /* 36px */
}

}

@media (max-width: 992px) {
.text-xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
.p-10 {
  padding: 2.5rem; /* 40px */
}
}

.mr-3 {
margin-right: 0.75rem; /* 12px */
}

.chat-messages {
height: 400px;
overflow: auto;
flex-direction: column-reverse;
flex: auto;
}

head, footer, body {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 380;
}

.my_grid, .my_grid_item {
  border: 1px solid black;
}

.card-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
}

.form-signin input[type="password"] {
  margin-bottom: 8px;
}

.field-heading {
  color: var(--secondary-text-color);
}

.friends-icon {
  color: #4287f5;
  font-size: 40px;
}

.person-add-icon {
  color: #4287f5;
  font-size: 40px;
}

.friend-text {
  font-weight: 500;
  color: black;
}

.friends-btn {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #000;
  font-weight: 500;
}

.friends-btn:hover {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.dropdown-toggle::after {
  content: none;
}

.confirm-friend-request {
  color: green;
}

.confirm-friend-request:hover,
.decline-friend-request:hover {
  opacity: 0.3;
}

.decline-friend-request {
  color: red;
}

.message-btn-text {
  font-weight: 500;
}

.h3 {
  text-align: center;
}

.image-container {
  max-width: 250px;
  height: auto;
  position: relative;
  text-align: center;
}

.field-heading {
  color: #737373;
}

#id_confirm {
  color: green;
}

#id_confirm:hover,
#id_cancel:hover {
  opacity: 0.3;
}

#id_cancel {
  color: red;
}

.profile-image {
  max-height: 100px;
  max-width: 100px;
  border-radius: 12px;
}

.friends-text {
  color: #000;
  font-weight: 500;
}

.friends-text-container {
  border: 1px solid #cccccc;
  border-radius: 12px;
}

.profile-link {
  color: #000;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pointer:hover {
  opacity: 0.3;
  cursor: pointer;
}
