<script type="text/javascript">
const sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
if (sendFriendRequestBtn != null){
	sendFriendRequestBtn.addEventListener("click", function(){
		sendFriendRequest("{{ id }}")
	})
}
const cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
if(cancelFriendRequestBtn != null){
	cancelFriendRequestBtn.addEventListener("click", function(){
		cancelFriendRequest("{{ id }}")
	})
}
const removeFriendBtn = document.getElementById("id_unfriend_btn")
if (removeFriendBtn != null){
	removeFriendBtn.addEventListener("click", function(){
		removeFriend("{{ id }}")
	})
}
</script>