<script>
enableImageOverlay()

function enableImageOverlay(){
	let text = document.getElementById("id_text")
	text.style.backgroundColor = "#0066ff"
	text.style.color = "white"
	text.style.fontSize = "16px"
	text.style.padding = "16px 32px"
	text.style.cursor = "pointer"

	let profileImage = document.getElementById("id_profile_image")
	profileImage.style.opacity = "1"
	profileImage.style.display = "block"
	profileImage.style.width = "100%"
	profileImage.style.height = "auto"
	profileImage.style.transition = ".5s ease"
	profileImage.style.backfaceVisibility  = "hidden"
	profileImage.style.cursor = "pointer"

	let middleContainer = document.getElementById("id_middle_container")
	middleContainer.style.transition = ".5s ease"
	middleContainer.style.opacity = "0"
	middleContainer.style.position = "absolute"
	middleContainer.style.top = "50%"
	middleContainer.style.left = "50%"
	middleContainer.style.transform = "translate(-50%, -50%)"
	middleContainer.style.textAlign = "center"

	let imageContainer = document.getElementById("id_image_container")
	imageContainer.addEventListener("mouseover", function(event) {
		profileImage.style.opacity = "0.3"
		middleContainer.style.opacity = "1"
	})
	imageContainer.addEventListener("mouseout", function(event) {
		profileImage.style.opacity = "1"
		middleContainer.style.opacity = "0"
	})
	imageContainer.addEventListener("click", function(event){
		document.getElementById('id_profile_image').click();
	});

}

function disableImageOverlay(){
	let profileImage = document.getElementById("id_profile_image_display")
	let middleContainer = document.getElementById("id_middle_container")
	let imageContainer = document.getElementById("id_image_container")
	let text = document.getElementById("id_text")

	imageContainer.removeEventListener("mouseover", function(event) {
		profileImage.style.opacity = "0.3"
		middleContainer.style.opacity = "1"
	})
	imageContainer.removeEventListener("mouseout", function(event) {
		profileImage.style.opacity = "1"
		middleContainer.style.opacity = "0"
	})
	profileImage.style.opacity = "1"
	middleContainer.style.opacity = "0"
	text.style.cursor = "default"
	text.style.opacity = "0"
	document.getElementById('id_image_container').removeEventListener("click", function(event){
		event.preventDefault();
		// do nothing
	});
	document.getElementById('id_profile_image').addEventListener("click", function(event){
		event.preventDefault();
		// do nothing
	});

	const cancel = document.getElementById("id_cancel")
	cancel.addEventListener("click", function(event){
		console.log("Reloading window...")
		window.location.reload();
	})
}

// Called when a new image is selected from file chooser dialog
function readURL(input) {
	if (input.files && input.files[0]) {
		let size = input.files[0].size
		if (size > {{ DATA_UPLOAD_MEMORY_SIZE }}) {
			alert("please file less than 10MB")
		} else {
			let reader = new FileReader();
			reader.onload = function (e) {
				disableImageOverlay()
				const image = e.target.result
				const imageField = document.getElementById('id_profile_image_display')
				imageField.src = image
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
}
</script>
