<div style="overflow: hidden;" class="bg-dark p-3 my-5 version">
    <h2>v1.0.1</h2>
    <p>February 18, 2024</p>
    <h3>
        <i style="color: #14a38c;" class="bi bi-plus-circle-fill"></i>
        New features
    </h3>
    <ul class="list-group">
        <li class="list-group-item bg-dark text-white">Kayıt olurken mail doğrulama linki gönderilme özelliği getirelecek. (COMING SOON :) )</li>
        <li class="list-group-item bg-dark text-white">Mesajlaşırken alertle gizli mesaj yazma özelliği getirildi.</li>
        <li class="list-group-item bg-dark text-white">İsim ve soyisim ekleme zorunluluğu hale getirildi.</li>
    </ul>
    <br>
    <ul class="list-group">
        <li class="list-group-item bg-dark text-white"></li>
    </ul>
    <br>
    <h3>
        <i style="color: #e70d4f;" class="bi bi-exclamation-circle-fill"></i>
        Deprecated features
    </h3>
    <ul class="list-group">
        <li class="list-group-item bg-dark text-white">User select kısmında bug var.</li>
    </ul>
</div>
