<div style="overflow: hidden;" class="bg-dark p-3 my-5 version">
    <h2>v1.0</h2>
    <p>February 18, 2024</p>
    <h3>
        <i style="color: #14a38c;" class="bi bi-plus-circle-fill"></i>
        New features
    </h3>
    <ul class="list-group">
        <li class="list-group-item bg-dark text-white">Sohbet ederken markdown ve html özelliğini kullanılabilir.</li>
        <li class="list-group-item bg-dark text-white">Şifreyi unuttuğunuz zaman mail gönderebilir. (Lütfen gerçek mail hesabınızı kullanın.)</li>
    </ul>
{#    <br>#}
{#    <h3>#}
{#        <i style="color: #4827ec;" class="bi bi-check-circle-fill"></i>#}
{#        Fixes#}
{#    </h3>#}
{#    <ul class="list-group">#}
{#        <li class="list-group-item bg-dark text-white"></li>#}
{#    </ul>#}
    <br>
    <h3>
        <i style="color: #e70d4f;" class="bi bi-exclamation-circle-fill"></i>
        Deprecated features
    </h3>
    <ul class="list-group">
        <li class="list-group-item bg-dark text-white">Mail kontrolleri yapılmadı.</li>
    </ul>
</div>
